@media (max-width: 768px){

  ul {

    list-style: none;
    padding: 0;
    margin:0;
  
  }
  
  a{
    text-decoration: none;
  }

  *{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: 0;
    
  }
  
  h1, p {
    margin-bottom: 1rem;
  }
  .main {
    min-height: 200vh;
    padding:6rem 1rem 1rem;
  }

  .navbar{
    display: none !important;
  }

  .showM{
    display: block !important;
  }

.hide-nav{
  display: flex;
  justify-content: center;
}

.navbar_links  {
flex-direction:column ;
justify-content: center;
align-items: center;
position: fixed;
text-align: center;
right: -300vw;

right: 0;
bottom: 0;
width: 0;
height: 90vh;
padding: 2rem;
visibility: hiden;
background-color: #e5e5e5;
}

.show-nav .navbar_links{
right: 0;
width: 100vw;
height: 100%;
}

.hide-nav .navbar_links {
visibility: hidden;
}
/*Bonus*/

.navbar__item::after {
content:"";
display: block;
margin:0 auto;
width: 3vw;
height: 1px;
background-color: #fff;

}
.navbar__item:last-child::after {
display: none;
}

.navbar_link{

display: block;
padding: 1.5rem;
font-size: 5vw;

}

.navbar__burger{
  border: none;
  padding-top: 10px;
display: block;
position : fixed;
top:1rem;
right: 1rem;

}

.navbar__burger:hover{
cursor:pointer;

}

.burger-bar,
.burger-bar::before,
.burger-bar::after{
display: block;
width: 35px;
height:3px;
position: relative;
border-radius: 3px;
background-color: #000;
transition: all .5s ease-in-out;
}

.burger-bar::before,
.burger-bar::after{

content:"";
position: absolute;
left: 0;
}

.burger-bar::before
{

transform: translateY(-12px);

}

.burger-bar::after{

transform: translateY(12px);


}

.show-nav .burger-bar{
width: 0;
background-color: transparent;
}

.show-nav .burger-bar::before{
transform:rotate(45deg)
}

.show-nav .burger-bar::after{
transform:rotate(-45deg)
}

}
.showM{
  display: none;
}

.navbarM{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  background-color: #e5e5e5;
  color: #000; 
}

.navbar_links{
  display: flex;
}

.navbar_link{
padding:0 0.3rem;
color:inherit;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-between;
}

.navbar-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  font-size: large;
  margin: 10px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.navbar-btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-item:hover,
.navbar-name:hover {
  cursor: pointer;
}

.lognav {
  display: flex;
}