@media only screen and (max-width: 768px) {
  .champs {
    width: 100% !important;
    padding: 0.8rem 1rem 0.8rem 1rem !important;
    margin: 1.9vw 0 !important;
    border: 0.5px solid rgb(158, 158, 158);
    border-radius: 15px !important;
    font-size: 20px;
  }

  .lab {
    font-size: 25px !important;
  }

  .obj-tit {
    margin-bottom: 30px !important;
  }

  .codpos {
    width: 45% !important;
    margin-right: 10px !important;
  }

  .codpos, .cit {
    width: 100% ;
    padding: 0.8rem 1rem 0.8rem 1rem !important;
    margin-bottom: 10px !important;
    border: 0.5px solid rgb(158, 158, 158);
    border-radius: 15px !important;
    font-size: 20px;
  }

  .divapply {
    padding: 2% !important;
  }
}

.divform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.obj-tit {
  font-size: 40px;
}

.first,
.last,
.mail,
.tel,
.adres1,
.linked,
.githu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

.adres2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gobtout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.champs {
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0.5px solid rgb(158, 158, 158);
  border-radius: 5px;
  font-size: 20px;
}

.adres2 {
  margin-top: -3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.codpos {
  margin-right: 3%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0.5px solid rgb(158, 158, 158);
  border-radius: 5px;
  font-size: 20px;
}

.cit {
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0.5px solid rgb(158, 158, 158);
  border-radius: 5px;
  font-size: 20px;
}

.divapply {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.applytos {
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.lab {
  font-size: 18px;
  font-weight: 600;
}
