@media only screen and (max-width: 768px){
  .card_location{
    font-size: medium;
  }


}

.card {
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  padding: 25px;
  margin: 5vh;
}

.card_date {
  color: #666666;
  font-size: 20px;
}

.card_description {
  margin-top: 25px;
  justify-content: center;
  text-align: start;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card_title {
  margin-top: 15px;
  text-overflow: ellipsis;
  justify-content: center;
  text-align: center;
}

.star-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_location {
  margin-top: 20px;
  margin-bottom: 10px;
}

.pageoffers .card {
  width: 20%;
  background-color: #e5e5e5;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  padding: 25px;
  margin: 5vh;
}
