import Starfu from 

.stary {
  width: 30px;
  height: 30px;
  left: 225px;
  top: 12px;
  border: 1px solid #ff0000;
  box-sizing: border-box;
}

.btn-star {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}