@media only screen and (max-width: 768px){
  .header {
    padding: 10% !important;
    font-size: 35px !important;
    font-weight: 600 !important;
    height: 15% !important;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-weight: 500;
  width: 100%;
  height: 20vh;
  font-size: 64px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
