@media only screen and (max-width: 768px){
  * {
    box-sizing: border-box;
  } 

  .aboutUs {
    width: 100% !important;
  }

  .afterabout {
    font-size: 20px;
    width: 80% !important;
  }

  .last-cards{
    display: flex !important;
    flex-direction: column !important;
  }

  .title-header {
    font-size: large !important;
  }

  .header-home{
    padding: 5% !important;
  }

  .ready-contact {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .contact-us{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important
  }

  .home-btn, .btn-contact {
  padding: 15px !important;
  margin: 0 !important;
  width: 250px !important;
  font-size: 22px !important;
  font-weight: 500 !important;
  }

  .btn-contact {
    margin-top: 10% !important;
  }

  .started {
    margin-bottom: 2%;
  }

  .contact {
    margin-bottom: 15%;
  }

  .signi {
    font-size: 18px;
  }


}

.header-home {
  background-color: #f2f2f2;
  padding: 100px;
}


.title-header {
  font-size: 30px;
  text-align: center;
}

.we-hiring {
  font-size: 22px;
  margin-top: 30px;
  text-align: center;
}

.see-all {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.home-btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 7px;
  cursor: pointer;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.aboutUs p {
  text-align: center;
  width: 50%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.lastOffers {
  padding-top: 5%;
  background-color: #f2f2f2;
}

.lastOffers .title-last {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.last-cards {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  justify-content: center;
}

.ready {
  font-size: 22px;
}

.started {
  font-weight: 700;
}

.contact {
  font-weight: 400;
}

.ready-contact {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-us {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-contact {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: 600;
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 15px;
  font-size: 16px;
}
