.border{
   background-color:  #e5e5e5;
  border-radius:10px;
  display: flex;
  width: 300px;
  margin-top: 10%;
  padding: 2%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bordurer {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.titre {

  font-weight: 900;
  margin-bottom: 8px;
}

.date{
  color: rgb(98, 98, 98);
}