@media (max-width: 768px) {

  .beensent, .wethank, .wewill, .seeyou, .thanksyour {
    font-size: larger;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

  .seeyou {
    margin-bottom: 120px !important;
  }

  .prev-btn, .next-prev-btn, .prev-btn-disabled {
    font-size: large !important;
    font-weight: 600;
    margin: 4% !important;
  }

.card{
  padding: 5% !important;
  width: 75% !important;
}

  .testgrid{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0 !important;
  }

  .btn-card {
    font-size: medium !important;
  }

	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  padding-bottom: 110px;
  position: relative;
  height: 100%;
  height: auto !important;
  min-height: 100%;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.form-box {
  min-width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
  margin: 0vw;
  padding: 5vw;
  /* position: relative; */
}

.form-box h5 {
  font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 0 0 0.5vh 0;
}

.form-box label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.form-box input {
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0.5px solid rgb(158, 158, 158);
  border-radius: 5px;
  font-size: 20px;
}

textarea {
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0.5px solid rgb(158, 158, 158);
  border-radius: 5px;
  font-size: 20px;
}

.btn-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.black-btn {
  display: inline-block;
  justify-content: center;
  height: 2rem;
  border-radius: 5px;
  background-color: black;
  color: rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
  font-size: 20px;
}

.thanks {
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.thanksyour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.wethank,
.beensent,
.seeyou,
.wewill {
  margin-top: 10px;
}

.beensent {
  font-weight: bold;
  margin-bottom: 10px;
}

.testgrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gridlist {
  width: 25%;
  grid: row;
  flex-wrap: wrap;
  align-content: center;
  overflow-wrap: break-word;
}

.align-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* BUTTON */

.btn-card {
  display: flex;
  border: none;
  background: none;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  font: weight 5px;
  cursor: pointer;
}

.next-prev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prev-btn {
  border: none;
  background: none;
  margin: 50px;
  font-size: 20px;
  cursor: pointer;
}

.prev-btn-disabled {
  border: none;
  background: none;
  margin: 50px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(195, 195, 195);
}

.apply-rtr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-loc {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.loc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cards {
  padding: 10%;
}

.card_descr {
  text-align: justify;
  font-size: 20px;
}

.card_dates {
  font-weight: 700;
  color: #666666;
  margin-top: 50px;
}

.oblig {
  color: red;
}

.labelo {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  font-weight: 600;
}

.starisborn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.csgo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.signi {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.divfor {
  padding: 10%;
}

.space {
  margin: 5%;
}

.minspace {
  margin: 2%;
}