@media only screen and (max-width: 768px){
  .footer h3 {
    font-size: 25px !important;
    font-weight: 700;
  }
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0%;
  color: black;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding-top: 20px;
}

.separator {
  border: 0.5px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85%;
  margin-left: 7.5%;
}
